body {
    font-family: 'Courier New', Courier, monospace;
}






.top {
    background-color: black;
    color: white;
}


img {
    max-width: 150px;
    max-height: 150px;
}

.hunters {
    max-width:600px ;
    max-height: ;
}