* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    gap: 50px
}
.header-right {
    display: flex;
    align-items: center;
    margin-right: 50px;
}


.aha-logo{
    justify-self: flex-start;
    max-width: 75px;
    max-height: 75px;
    border: black;
}

.part-one {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px;
    gap: 100px;
}


.part-one-text {
    max-width: 400px;
    font-size: 18px;
    padding: 8px;
}

.part-one-head {
    font-size: 48px;
    font-weight: bolder;
    padding: 
}


.div-hunters {
    justify-self: center;
    align-self: flex-end;
    
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

button {
    border-radius: 8px;
    display: inline-block;
    padding: 10px 40px;
}


.top {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

#learn {
    background-color: #950c09;
    color: white;
    border: #950c09;
    font-size: medium;
    box-shadow: 2px 2px white;
}

#learn:active {
    box-shadow: none;
}

#bounty {
    color: white;
}

img {
    max-height: 200px;
    border-radius: 20px;
}


.hunters {
    max-width:600px ;
    border: black;
}



a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #950c09;
}


.part-two-head {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 36px;
    font-weight: bolder;
    text-shadow: 2px 2px grey;
}

.part-two-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.part-two-info img {
    box-shadow: 2px 2px black;
    height: 250px;
    width: 250px;
}

.names {
    display: flex;
    justify-content: center;
    padding: 8px;
    color: black;
    text-shadow: 1px 1px gray;
    font-weight: 500;
    font-size: 1.2rem;
}


.part-three {
    background-color: #353935;
    color: red;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    text-align: center;
}

p {
    align-self: center;
    justify-self: center;
    max-width: 800px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.quote {
    font-style: italic;
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
}

.sign {
    margin-left: 300px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: large;
    text-shadow: 1px 1px black;
    font-size: 1.3rem;
}

.part-four {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    gap:200px;
    padding: 30px;
    border-radius: 10px;
    background-color: #950c09;
    font-size: large;
    font-weight: bold;
    box-shadow: 2px 2px black;
}

.part-four-content {
    font-size: 1.2rem;
}

#subscribe {
    background-color: whitesmoke;
    color: #950c09;
    border: white;
    font-size: medium;
    box-shadow: 2px 2px #353935;
}

#subscribe:active {
    box-shadow: none;
}


#sub {
    color: #950c09;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: .8rem;
    text-align: center;
}